<div class="page-header">
  <h1>{{category.name}}</h1>
</div>

<div class="posts">
  <h2>Posts</h2>
  <h3 *ngIf="category.posts.length == 0">There are no posts yet!</h3>
  <div *ngFor="let post of category.posts" class="post">
    <h3>
      <span (click)='showPost(post)' class="clickable">{{post.title}}</span>
      <span (click)="upgoat(post)" class="upgoat clickable">{{post.upgoats}}⬆️</span>
      <span (click)="downgoat(post)" class="downgoat clickable">{{post.downgoats}}⬇️</span>
    </h3>
    <app-post-detail
      *ngIf="focusedPost == post"
      [post]="focusedPost"
      (postButton)="postEvent($event, post)">
    </app-post-detail>
    <app-edit-post
      *ngIf="editPost == post"
      [post]="editPost"
      (editDone)="endEdit(post)">
    </app-edit-post>
  </div>
</div>

<app-new-post (newPost)="addPost($event)"></app-new-post>
