<div class="new-post">
  <h2>Add a Post</h2>
  <form>
    <div class="form-group">
      <label for="title">Title:</label>
      <input #title class="form-control">
    </div>
    <div class="form-group">
      <label for="author">Author:</label>
      <input #author class="form-control">
    </div>
    <div class="form-group">
      <label for="content">Content:</label>
      <input #content class="form-control">
    </div>
    <button (click)="addPost(author.value, title.value, content.value); author.value=''; title.value=''; content.value='';" type="button" class="btn">Post</button>
  </form>
</div>
