<div class="new-post">
  <h2>Add a <span *ngIf="!parent">Post</span><span *ngIf="parent">Comment</span></h2>
  <form>
    <div class="form-group {{parent ? 'comment' : null}}" >
      <label for="title">Title:</label>
      <input #title class="form-control">
    </div>
    <div class="form-group">
      <label for="author">Author:</label>
      <input #author class="form-control">
    </div>
    <div class="form-group">
      <label for="content">Content:</label>
      <input #content class="form-control">
    </div>
    <button *ngIf="!parent" (click)="addPost(author.value, title.value, content.value); author.value=''; title.value=''; content.value='';" type="button" class="btn">Post</button>
    <button *ngIf="parent" (click)="addComment(author.value, content.value); author.value=''; content.value='';" type="button" class="btn">Comment</button>
  </form>
</div>
